# Part 1: Data extraction and seed creation

In [25]:
import pandas as pd
import os

# Create seeds directory if it doesn't exist
if os.path.exists('./seeds') == False:
    os.makedirs('./seeds')

# Load the Excel file
xls = pd.ExcelFile('./data/carmen_sightings_20220629061307.xlsx')
print("Available sheets:", xls.sheet_names,'\n---')

# Extract each sheet inro 8 individual CSV seed files
for sheet_name in xls.sheet_names:
    print (f"Extracting: {sheet_name}")
    df = pd.read_excel(xls, sheet_name=sheet_name)

    # Added 'region' column 
    df['region'] = sheet_name.lower()

    # AFRICA edit - Fill NaN values in 'country' column with "Namibia"
    if sheet_name == 'AFRICA':
        df['country'] = df['country'].fillna("Namibia")

    # Save the DataFrame to a CSV file
    df.to_csv(f'./seeds/raw_{sheet_name.lower()}.csv', index=False)
    print(f"Saved: raw_{sheet_name.lower()}.csv")
    print(f"Columns: {list(df.columns)}")
    print(f"Rows: {len(df)}")
    print("---")

Available sheets: ['EUROPE', 'ASIA', 'AFRICA', 'AMERICA', 'AUSTRALIA', 'ATLANTIC', 'INDIAN', 'PACIFIC']
---
Extracting: EUROPE
Saved: raw_europe.csv
Columns: ['date_witness', 'date_filed', 'witness', 'agent', 'lat_', 'long_', 'city', 'country', 'region_hq', 'armed?', 'chapeau?', 'coat?', 'observed_action', 'region']
Rows: 4199
---
Extracting: ASIA
Saved: raw_asia.csv
Columns: ['sighting', 'Êä•ÈÅì', 'citizen', 'officer', 'Á∫¨Â∫¶', 'ÁªèÂ∫¶', 'city', 'nation', 'city_interpol', 'has_weapon', 'has_hat', 'has_jacket', 'behavior', 'region']
Rows: 3835
---
Extracting: AFRICA
Saved: raw_africa.csv
Columns: ['date_witness', 'date_agent', 'witness', 'agent', 'latitude', 'longitude', 'city', 'country', 'region_hq', 'has_weapon', 'has_hat', 'has_jacket', 'behavior', 'region']
Rows: 1192
---
Extracting: AMERICA
Saved: raw_america.csv
Columns: ['date_witness', 'date_agent', 'witness', 'agent', 'latitude', 'longitude', 'city', 'country', 'region_hq', 'has_weapon', 'has_hat', 'has_jacket', 'behavior', 'region']
Rows: 4021
---
Extracting: AUSTRALIA
Saved: raw_australia.csv
Columns: ['witnessed', 'reported', 'observer', 'field_chap', 'lat', 'long', 'place', 'nation', 'interpol_spot', 'has_weapon', 'has_hat', 'has_jacket', 'state_of_mind', 'region']
Rows: 165
---
Extracting: ATLANTIC
Saved: raw_atlantic.csv
Columns: ['date_witness', 'date_agent', 'witness', 'agent', 'latitude', 'longitude', 'city', 'country', 'region_hq', 'has_weapon', 'has_hat', 'has_jacket', 'behavior', 'region']
Rows: 28
---
Extracting: INDIAN
Saved: raw_indian.csv
Columns: ['date_witness', 'date_agent', 'witness', 'agent', 'latitude', 'longitude', 'city', 'country', 'region_hq', 'has_weapon', 'has_hat', 'has_jacket', 'behavior', 'region']
Rows: 76
---
Extracting: PACIFIC
Saved: raw_pacific.csv
Columns: ['sight_on', 'file_on', 'sighter', 'filer', 'lat', 'long', 'town', 'nation', 'report_office', 'has_weapon', 'has_hat', 'has_jacket', 'behavior', 'region']
Rows: 66
---

In [27]:
pd.read_csv('./seeds/raw_africa.csv').isnull().sum()

date_witness    0
date_agent      0
witness         0
agent           0
latitude        0
longitude       0
city            0
country         0
region_hq       0
has_weapon      0
has_hat         0
has_jacket      0
behavior        0
region          0
dtype: int64

In [6]:
# Checking the columns of each CSV file created
dict = {}
for sheet_name in [i.lower() for i in xls.sheet_names]:
    print (f"raw_{sheet_name}.csv -", pd.read_csv(f'./seeds/raw_{sheet_name}.csv').columns.tolist())
    dict[sheet_name] = pd.read_csv(f'./seeds/raw_{sheet_name}.csv').columns.tolist()

raw_europe.csv - ['date_witness', 'date_filed', 'witness', 'agent', 'lat_', 'long_', 'city', 'country', 'region_hq', 'armed?', 'chapeau?', 'coat?', 'observed_action', 'region']
raw_asia.csv - ['sighting', 'Êä•ÈÅì', 'citizen', 'officer', 'Á∫¨Â∫¶', 'ÁªèÂ∫¶', 'city', 'nation', 'city_interpol', 'has_weapon', 'has_hat', 'has_jacket', 'behavior', 'region']
raw_africa.csv - ['date_witness', 'date_agent', 'witness', 'agent', 'latitude', 'longitude', 'city', 'country', 'region_hq', 'has_weapon', 'has_hat', 'has_jacket', 'behavior', 'region']
raw_america.csv - ['date_witness', 'date_agent', 'witness', 'agent', 'latitude', 'longitude', 'city', 'country', 'region_hq', 'has_weapon', 'has_hat', 'has_jacket', 'behavior', 'region']
raw_australia.csv - ['witnessed', 'reported', 'observer', 'field_chap', 'lat', 'long', 'place', 'nation', 'interpol_spot', 'has_weapon', 'has_hat', 'has_jacket', 'state_of_mind', 'region']
raw_atlantic.csv - ['date_witness', 'date_agent', 'witness', 'agent', 'latitude', 'longitude', 'city', 'country', 'region_hq', 'has_weapon', 'has_hat', 'has_jacket', 'behavior', 'region']
raw_indian.csv - ['date_witness', 'date_agent', 'witness', 'agent', 'latitude', 'longitude', 'city', 'country', 'region_hq', 'has_weapon', 'has_hat', 'has_jacket', 'behavior', 'region']
raw_pacific.csv - ['sight_on', 'file_on', 'sighter', 'filer', 'lat', 'long', 'town', 'nation', 'report_office', 'has_weapon', 'has_hat', 'has_jacket', 'behavior', 'region']

In [5]:
dict.items()

dict_items([('europe', ['date_witness', 'date_filed', 'witness', 'agent', 'lat_', 'long_', 'city', 'country', 'region_hq', 'armed?', 'chapeau?', 'coat?', 'observed_action', 'region']), ('asia', ['sighting', 'Êä•ÈÅì', 'citizen', 'officer', 'Á∫¨Â∫¶', 'ÁªèÂ∫¶', 'city', 'nation', 'city_interpol', 'has_weapon', 'has_hat', 'has_jacket', 'behavior', 'region']), ('africa', ['date_witness', 'date_agent', 'witness', 'agent', 'latitude', 'longitude', 'city', 'country', 'region_hq', 'has_weapon', 'has_hat', 'has_jacket', 'behavior', 'region']), ('america', ['date_witness', 'date_agent', 'witness', 'agent', 'latitude', 'longitude', 'city', 'country', 'region_hq', 'has_weapon', 'has_hat', 'has_jacket', 'behavior', 'region']), ('australia', ['witnessed', 'reported', 'observer', 'field_chap', 'lat', 'long', 'place', 'nation', 'interpol_spot', 'has_weapon', 'has_hat', 'has_jacket', 'state_of_mind', 'region']), ('atlantic', ['date_witness', 'date_agent', 'witness', 'agent', 'latitude', 'longitude', 'city', 'country', 'region_hq', 'has_weapon', 'has_hat', 'has_jacket', 'behavior', 'region']), ('indian', ['date_witness', 'date_agent', 'witness', 'agent', 'latitude', 'longitude', 'city', 'country', 'region_hq', 'has_weapon', 'has_hat', 'has_jacket', 'behavior', 'region']), ('pacific', ['sight_on', 'file_on', 'sighter', 'filer', 'lat', 'long', 'town', 'nation', 'report_office', 'has_weapon', 'has_hat', 'has_jacket', 'behavior', 'region'])])

# Data Exploration
- fixed missing values in raw_africa.csv

In [85]:
for sheet_name in xls.sheet_names:
    df = pd.read_excel(xls, sheet_name=sheet_name)
    print (sheet_name,'__________________')
    if sheet_name == 'EUROPE':
        print(df['observed_action'].unique())
    elif sheet_name == 'AUSTRALIA':
        print(df['state_of_mind'].unique())
    else:
        print(df['behavior'].unique())

EUROPE __________________
['sad' 'fleeing' 'lonely' 'evasive' 'paranoid' 'worried' 'tense' 'unhappy'
 'out-of-control' 'scared' 'hostile' 'confessing' 'complaining' 'silent'
 'happy' 'accusatory' 'over-complimenting' 'insulting' 'panicking'
 'talkative' 'injured' 'oblivious' 'friendly']
ASIA __________________
['tense' 'confessing' 'unhappy' 'paranoid' 'out-of-control' 'lonely'
 'injured' 'friendly' 'talkative' 'oblivious' 'sad' 'happy'
 'over-complimenting' 'scared' 'complaining' 'panicking' 'worried'
 'evasive' 'hostile' 'silent' 'accusatory' 'fleeing' 'insulting']
AFRICA __________________
['fleeing' 'scared' 'talkative' 'evasive' 'silent' 'over-complimenting'
 'out-of-control' 'confessing' 'tense' 'complaining' 'sad' 'friendly'
 'unhappy' 'paranoid' 'happy' 'lonely' 'oblivious' 'panicking' 'insulting'
 'accusatory' 'hostile' 'worried' 'injured']
AMERICA __________________
['fleeing' 'tense' 'injured' 'friendly' 'scared' 'complaining' 'hostile'
 'panicking' 'out-of-control' 'unhappy' 'confessing' 'over-complimenting'
 'worried' 'paranoid' 'happy' 'oblivious' 'accusatory' 'sad' 'evasive'
 'lonely' 'silent' 'insulting' 'talkative']
AUSTRALIA __________________
['accusatory' 'paranoid' 'hostile' 'unhappy' 'friendly' 'injured'
 'evasive' 'confessing' 'oblivious' 'lonely' 'over-complimenting' 'silent'
 'sad' 'tense' 'complaining' 'scared' 'panicking' 'insulting' 'happy'
 'fleeing' 'worried' 'out-of-control' 'talkative']
ATLANTIC __________________
['over-complimenting' 'evasive' 'tense' 'complaining' 'talkative'
 'unhappy' 'happy' 'friendly' 'sad' 'panicking' 'silent' 'accusatory'
 'out-of-control' 'hostile' 'paranoid' 'oblivious' 'insulting']
INDIAN __________________
['accusatory' 'friendly' 'fleeing' 'talkative' 'complaining' 'insulting'
 'silent' 'unhappy' 'happy' 'sad' 'scared' 'hostile' 'tense' 'paranoid'
 'lonely' 'evasive' 'worried' 'injured' 'over-complimenting' 'oblivious'
 'confessing' 'out-of-control']
PACIFIC __________________
['over-complimenting' 'evasive' 'scared' 'tense' 'panicking' 'lonely'
 'complaining' 'accusatory' 'friendly' 'paranoid' 'silent' 'sad' 'hostile'
 'unhappy' 'insulting' 'injured' 'worried' 'out-of-control' 'fleeing'
 'happy' 'oblivious']

In [ ]:
for sheet_name in xls.sheet_names:
    df = pd.read_excel(xls, sheet_name=sheet_name)
    print (sheet_name,'____________________')
    # print (df.isnull().sum().tolist())
    if sheet_name == 'AFRICA':
        # print(df['country'].unique().tolist())
        # print(df.iloc[28,99,479,559,618,636,812,836,842,845,952])
        # dfAfrica = df.copy()
        df.loc[df['country'].isnull(), 'country'] = "Namibia"
        df.to_csv('./seeds/raw_africa.csv', index=False)
        # rows = [28, 99, 479, 559, 618, 636, 812, 836, 842, 845, 952]
        # subset = df.iloc[rows]
        # print(subset)
        # print(df[df['country'].isnull()])
    print (df.isnull().sum().tolist())
    # if sheet_name == 'EUROPE':
    #     print(df['armed?'].unique().tolist())
    #     print(df['chapeau?'].unique().tolist())
    #     print(df['coat?'].unique().tolist())
    # else:
    #     print(df['has_weapon'].unique().tolist())
    #     print(df['has_hat'].unique().tolist())
    #     print(df['has_jacket'].unique().tolist())

EUROPE ____________________
[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
ASIA ____________________
[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
AFRICA ____________________
[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
AMERICA ____________________
[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
AUSTRALIA ____________________
[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
ATLANTIC ____________________
[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
INDIAN ____________________
[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
PACIFIC ____________________
[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [82]:
pd.read_csv(f'./seeds/raw_africa.csv')['country'].unique().tolist()

['MA',
 'ZA',
 'TN',
 'NG',
 'DZ',
 'TD',
 'SO',
 'TZ',
 'LR',
 'RW',
 'AO',
 'SD',
 'GH',
 'CD',
 'CM',
 'Namibia',
 'BJ',
 'UG',
 'CI',
 'GN',
 'BW',
 'NE',
 'KE',
 'CG',
 'EG',
 'MW',
 'ML',
 'LY',
 'DJ',
 'SL',
 'ET',
 'GM',
 'GA',
 'CF',
 'MZ']

# Machine Learning 1

In [2]:
# ml_analysis.py
import pandas as pd
import numpy as np
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from sklearn.metrics import classification_report, accuracy_score
import psycopg2
from sqlalchemy import create_engine
import matplotlib.pyplot as plt
import seaborn as sns

def ml_analysis():
    """
    Perform machine learning analysis on Carmen Sandiego sighting data
    """
    try:
        # Connect to PostgreSQL database
        PASSWORD = input("Enter your database password: ")
        
        # Build SQLAlchemy connection string
        # engine = create_engine(f"postgresql+psycopg2://postgres:{PASSWORD}@localhost:5432/cascade_database")
        
        conn = psycopg2.connect(
            host="localhost",
            database="cascade_database",
            user="postgres",
            password= PASSWORD,
            port=5432
        )
        print("‚úÖ Connected to PostgreSQL database")
        
        # Define SQL query/Load the fact table
        query = """
        SELECT 
            date_witness,
            latitude,
            longitude,
            has_weapon,
            has_hat,
            has_jacket,
            behavior,
            region
        FROM carmen_marts.fact_sightings
        WHERE date_witness IS NOT NULL
        """
        # Load into DataFrame using SQLAlchemy engine
        # df = pd.read_sql(query, engine)
        df = pd.read_sql(query, conn)
        # conn.close()

        
        print(f"‚úÖ Loaded {len(df)} sighting records")
        
        # Feature engineering
        df['date_witness'] = pd.to_datetime(df['date_witness'])
        df['month'] = df['date_witness'].dt.month
        df['day_of_week'] = df['date_witness'].dt.dayofweek
        df['season'] = df['month'].apply(lambda x: 
            'Spring' if x in [3,4,5] else
            'Summer' if x in [6,7,8] else
            'Fall' if x in [9,10,11] else 'Winter'
        )
        
        # Encode categorical variables
        le_behavior = LabelEncoder()
        le_region = LabelEncoder()
        le_season = LabelEncoder()
        
        df['behavior_encoded'] = le_behavior.fit_transform(df['behavior'].fillna('unknown'))
        df['region_encoded'] = le_region.fit_transform(df['region'])
        df['season_encoded'] = le_season.fit_transform(df['season'])
        
        # Prepare features for different prediction tasks
        
        # 1. Predict next region based on current features
        print("\nüîç ANALYSIS 1: Predicting Carmen's Next Region")
        features_region = ['month', 'day_of_week', 'latitude', 'longitude', 
                          'has_weapon', 'has_hat', 'has_jacket', 'behavior_encoded']
        
        X_region = df[features_region]
        y_region = df['region_encoded']
        
        X_train, X_test, y_train, y_test = train_test_split(
            X_region, y_region, test_size=0.2, random_state=42
        )
        
        rf_region = RandomForestClassifier(n_estimators=100, random_state=42)
        rf_region.fit(X_train, y_train)
        
        y_pred = rf_region.predict(X_test)
        accuracy = accuracy_score(y_test, y_pred)
        
        print(f"Region Prediction Accuracy: {accuracy:.3f}")
        
        # Feature importance for region prediction
        feature_importance_region = pd.DataFrame({
            'feature': features_region,
            'importance': rf_region.feature_importances_
        }).sort_values('importance', ascending=False)
        
        print("\nFeature Importance for Region Prediction:")
        print(feature_importance_region)
        
        # 2. Predict behavior based on location and appearance
        print("\nüîç ANALYSIS 2: Predicting Carmen's Behavior")
        features_behavior = ['month', 'latitude', 'longitude', 'has_weapon', 
                           'has_hat', 'has_jacket', 'region_encoded']
        
        X_behavior = df[features_behavior]
        y_behavior = df['behavior_encoded']
        
        X_train_b, X_test_b, y_train_b, y_test_b = train_test_split(
            X_behavior, y_behavior, test_size=0.2, random_state=42
        )
        
        rf_behavior = RandomForestClassifier(n_estimators=100, random_state=42)
        rf_behavior.fit(X_train_b, y_train_b)
        
        y_pred_b = rf_behavior.predict(X_test_b)
        accuracy_b = accuracy_score(y_test_b, y_pred_b)
        
        print(f"Behavior Prediction Accuracy: {accuracy_b:.3f}")
        
        # 3. Clustering analysis for pattern detection
        print("\nüîç ANALYSIS 3: Pattern Detection")
        
        # Seasonal patterns
        seasonal_patterns = df.groupby(['season', 'region']).agg({
            'has_weapon': 'mean',
            'has_hat': 'mean',
            'has_jacket': 'mean',
            'latitude': 'mean',
            'longitude': 'mean'
        }).round(3)
        
        print("\nSeasonal Patterns by Region:")
        print(seasonal_patterns)
        
        # Behavior clustering
        behavior_stats = df.groupby('behavior').agg({
            'has_weapon': 'mean',
            'has_hat': 'mean',
            'has_jacket': 'mean',
            'region': 'count'
        }).round(3).sort_values('region', ascending=False)
        
        print("\nBehavior Statistics:")
        print(behavior_stats.head(10))
        
        # 4. Predictive insights
        print("\nüîç ANALYSIS 4: Predictive Insights")
        
        # Most likely next appearance characteristics
        next_month = df['month'].mode()[0]  # Most common month
        avg_lat = df['latitude'].mean()
        avg_lng = df['longitude'].mean()
        
        # Predict for average conditions
        sample_prediction = rf_region.predict([[
            next_month, 1, avg_lat, avg_lng, 1, 0, 1, 
            df['behavior_encoded'].mode()[0]
        ]])[0]
        
        predicted_region = le_region.inverse_transform([sample_prediction])[0]
        
        print(f"\nPredicted next region for average conditions: {predicted_region}")
        
        # Risk assessment
        high_risk_conditions = df[
            (df['has_weapon'] == True) & 
            (df['has_jacket'] == True) & 
            (df['has_hat'] == False)
        ]
        
        if len(high_risk_conditions) > 0:
            risk_regions = high_risk_conditions['region'].value_counts()
            print(f"\nHigh-risk profile (Armed + Jacket + No Hat) most common in:")
            print(risk_regions.head(3))
        
        # 5. Recommendations for law enforcement
        print("\nüö® LAW ENFORCEMENT RECOMMENDATIONS:")
        
        # Top 3 regions by frequency
        top_regions = df['region'].value_counts().head(3)
        print(f"\n1. Focus surveillance on top 3 regions:")
        for region, count in top_regions.items():
            print(f"   - {region}: {count} sightings")
        
        # Seasonal recommendations
        seasonal_freq = df.groupby('season')['region'].count()
        peak_season = seasonal_freq.idxmax()
        print(f"\n2. Increase patrols during {peak_season} season")
        
        # Behavioral patterns
        dangerous_behaviors = df[df['has_weapon'] == True]['behavior'].value_counts().head(3)
        print(f"\n3. Most dangerous behaviors when armed:")
        for behavior, count in dangerous_behaviors.items():
            print(f"   - {behavior}: {count} incidents")
        
        print("\n‚úÖ Machine Learning Analysis Complete!")
        
    except Exception as e:
        print(f"‚ùå Error in ML analysis: {str(e)}")
        print("Make sure your dbt models have been run and the database is accessible")

if __name__ == "__main__":
    ml_analysis()

‚úÖ Connected to PostgreSQL database
‚úÖ Loaded 13582 sighting records

üîç ANALYSIS 1: Predicting Carmen's Next Region

c:\Users\hassa\anaconda3\lib\site-packages\pandas\io\sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

Region Prediction Accuracy: 0.993

Feature Importance for Region Prediction:
            feature  importance
3         longitude    0.658490
2          latitude    0.299603
7  behavior_encoded    0.015411
0             month    0.011673
1       day_of_week    0.008848
5           has_hat    0.002478
4        has_weapon    0.001881
6        has_jacket    0.001616

üîç ANALYSIS 2: Predicting Carmen's Behavior
Behavior Prediction Accuracy: 0.046

üîç ANALYSIS 3: Pattern Detection

Seasonal Patterns by Region:
                  has_weapon  has_hat  has_jacket  latitude  longitude
season region
Fall   africa          0.110    0.649       0.922     9.291     15.175
       america         0.106    0.590       0.927    22.035    -82.071
       asia            0.108    0.643       0.924    26.418     97.224
       atlantic        0.125    0.750       0.875    32.753    -20.626
       australia       0.171    0.537       0.976   -33.221    145.415
       europe          0.117    0.613       0.907    48.856     13.598
       indian          0.053    0.789       0.947   -20.175     46.916
       pacific         0.143    0.619       0.952   -19.298     78.664
Spring africa          0.112    0.650       0.918     8.009     17.162
       america         0.099    0.622       0.919    21.652    -81.702
       asia            0.125    0.634       0.938    25.552     95.780
       atlantic        0.091    0.636       0.818    35.931    -23.834
       australia       0.116    0.605       0.907   -33.307    143.280
       europe          0.102    0.633       0.927    48.577     12.878
       indian          0.045    0.545       0.955   -20.563     48.127
       pacific         0.278    0.556       0.889   -12.638     76.561
Summer africa          0.136    0.588       0.920    10.645     15.853
       america         0.124    0.641       0.908    22.580    -81.925
       asia            0.112    0.629       0.925    26.297     95.880
       atlantic        0.000    0.600       1.000    29.758    -17.602
       australia       0.229    0.714       0.914   -32.979    144.465
       europe          0.117    0.632       0.918    48.513     13.388
       indian          0.083    0.833       1.000   -20.785     46.499
       pacific         0.083    0.583       1.000   -18.487    135.325
Winter africa          0.128    0.619       0.934     7.674     15.725
       america         0.116    0.640       0.940    22.232    -81.219
       asia            0.113    0.619       0.935    26.116     94.727
       atlantic        0.250    1.000       0.750    32.753    -20.626
       australia       0.043    0.609       0.935   -32.914    145.859
       europe          0.120    0.637       0.928    48.609     12.876
       indian          0.130    0.522       0.957   -20.665     49.636
       pacific         0.000    0.800       1.000    -7.052     56.722

Behavior Statistics:
                    has_weapon  has_hat  has_jacket  region
behavior
out-of-control           0.111    0.597       0.920     637
complaining              0.108    0.634       0.936     636
happy                    0.088    0.638       0.893     635
tense                    0.119    0.627       0.923     614
insulting                0.113    0.639       0.918     613
panicking                0.110    0.640       0.942     608
confessing               0.114    0.616       0.931     597
unhappy                  0.106    0.636       0.926     596
fleeing                  0.131    0.638       0.921     596
over-complimenting       0.121    0.599       0.928     596

üîç ANALYSIS 4: Predictive Insights

Predicted next region for average conditions: africa

High-risk profile (Armed + Jacket + No Hat) most common in:
america    166
europe     160
asia       147
Name: region, dtype: int64

üö® LAW ENFORCEMENT RECOMMENDATIONS:

1. Focus surveillance on top 3 regions:
   - europe: 4199 sightings
   - america: 4021 sightings
   - asia: 3835 sightings

2. Increase patrols during Spring season

3. Most dangerous behaviors when armed:
   - paranoid: 82 incidents
   - hostile: 78 incidents
   - fleeing: 78 incidents

‚úÖ Machine Learning Analysis Complete!

c:\Users\hassa\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but RandomForestClassifier was fitted with feature names
  warnings.warn(

NEW FEATURE: each sighting row (ordered by date_witness), the most recent prior row where date_agent <= current date_witness, and then pull that row‚Äôs latitude and longitude as the ‚Äúlast reported coordinates.‚Äù

In [42]:
print( df['date_agent'][1], df['date_witness'][1],'==',df['date_agent'][1]- df['date_witness'][1])
n = df['date_agent'][1]- df['date_witness'][1]
print(type (n))
n

2013-04-02 2013-03-12 == 21 days, 0:00:00
<class 'datetime.timedelta'>

datetime.timedelta(days=21)

In [1]:
# Ensure proper datetime types
df = df1.copy()
df['date_witness'] = pd.to_datetime(df['date_witness'])
df['date_agent'] = pd.to_datetime(df['date_agent'])

# Sort both keys for merge_asof to work properly
df = df.sort_values(['date_witness']).reset_index(drop=True)
df_agents = df[['date_agent', 'latitude', 'longitude']].copy()
# df_agents = df_agents.sort_values('date_agent').reset_index(drop=True)

# # Use merge_asof to find the last report before each witness event
# df_merged = pd.merge_asof(
#     df,
#     df_agents.rename(columns={
#         'date_agent': 'last_agent_date',
#         'latitude': 'prev_latitude',
#         'longitude': 'prev_longitude'
#     }),
#     left_on='date_witness',
#     right_on='last_agent_date',
#     direction='backward'
# )

# # Drop rows where no prior agent report was found
# df_merged = df_merged.dropna(subset=['prev_latitude', 'prev_longitude'])

# # Add time delay as before
# df_merged['time_delay'] = (df_merged['date_witness'] - df_merged['date_agent']).dt.days
df_agents.iloc[-4:]

NameError: name 'df1' is not defined

In [79]:
df.iloc[-4:]

,sighting_id,date_witness,date_agent,witness,agent,city,country,city_agent,latitude,longitude,has_weapon,has_hat,has_jacket,behavior,region
13578,9bdac0b8e424b709bee84fee3c1f1844,2022-06-26,2022-07-09,Dennis Wagner,Matthew Young,Huangshi,CN,Shanghai,30.24706,115.04814,False,True,True,hostile,asia
13579,9ae16231f19a052dfbd74e5169fc2524,2022-06-27,2022-07-20,Pamela Craig,Natalie Jordan,Arles,FR,Paris,43.67681,4.63031,False,False,True,sad,europe
13580,7e79648103b5c0bf398a990f19bd16f1,2022-06-28,2022-08-04,Diamond Thompson,Michael Bailey,Palestine,US,Chicago,31.76212,-95.63079,False,True,True,injured,america
13581,368130b8b35122d03ec1622776cbf0bf,2022-06-29,2022-08-19,Douglas Garcia,Jessica Rogers,Dharmapuri,IN,Kolkata,12.12770,78.15794,False,True,True,injured,asia

In [7]:
import pandas as pd

# # Simulate the input dataframe with necessary columns for the demo
# data = {
#     'date_witness': pd.to_datetime([
#         '2015-05-28', '2015-06-05', '2015-06-10', '2015-06-15'
#     ]),
#     'date_agent': pd.to_datetime([
#         '2015-05-02', '2015-06-03', '2015-06-07', '2015-06-12'
#     ]),
#     'latitude': [34.0, 35.0, 36.0, 37.0],
#     'longitude': [-118.0, -117.0, -116.0, -115.0]
# }
# df = pd.DataFrame(data)



# Add time_delay column (in days)
df['time_delay'] = (df['date_witness'] - df['date_agent']).dt.days

# Sort by date_witness to ensure correct ordering
df = df.sort_values('date_witness').reset_index(drop=True)

# Initialize columns for previous coordinates
df['prev_latitude'] = None
df['prev_longitude'] = None

# Iterate and assign previous witness coordinates based on rule
for i in range(1, len(df)):
    current_witness_date = df.loc[i, 'date_witness']
    valid_prior_entries = df.iloc[:i][df.iloc[:i]['date_agent'] <= current_witness_date]
    if not valid_prior_entries.empty:
        last_entry = valid_prior_entries.iloc[-1]
        df.loc[i, 'prev_latitude'] = last_entry['latitude']
        df.loc[i, 'prev_longitude'] = last_entry['longitude']

# Drop rows where previous coordinates are missing
# df = df.dropna(subset=['prev_latitude', 'prev_longitude']).reset_index(drop=True)
df
df1 = df.copy()

,sighting_id,date_witness,date_agent,witness,agent,city,country,city_agent,latitude,longitude,has_weapon,has_hat,has_jacket,behavior,region,time_delay,prev_latitude,prev_longitude
0,a9614523d5617ee165761c8e3796d468,1985-04-23,1985-04-30,Matthew White,Jesse Boyd,Khairpur Mir‚Äö√Ñ√¥s,PK,Karachi,27.52948,68.75915,True,True,True,oblivious,asia,-7,None,None
1,0bf27edf77bf5792514b552a06209347,1985-04-24,1985-04-26,Dana Carpenter,Glen Walker,Deltona,US,New York,28.90054,-81.26367,False,True,True,lonely,america,-2,None,None
2,ec226f095af2263f28384983257deab5,1985-04-25,1985-06-18,Christine Sims,Donald Pierce,Hofheim am Taunus,DE,Berlin,50.09019,8.44930,False,True,True,scared,europe,-54,None,None
3,3a50777bfbf7832b027e2ca15cba5237,1985-04-26,1985-05-26,Amy Miller,Jeffery Carter,Brunswick,US,New York,43.91452,-69.96533,True,True,True,lonely,america,-30,28.90054,-81.26367
4,5e3f8f05210918a4393946711d951cde,1985-04-27,1985-05-20,Perry Mcclain,Andrea Watkins,Skalica,SK,Bratislava,48.84490,17.22635,False,True,True,tense,europe,-23,28.90054,-81.26367
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13577,c9f65f135a32141aa0fe69ec7c319e6f,2022-06-25,2022-08-03,Jodi Coleman,Stephanie Mcmillan,Denderleeuw,BE,Brussels,50.88506,4.07601,True,True,False,paranoid,europe,-39,33.4425,129.96972
13578,9bdac0b8e424b709bee84fee3c1f1844,2022-06-26,2022-07-09,Dennis Wagner,Matthew Young,Huangshi,CN,Shanghai,30.24706,115.04814,False,True,True,hostile,asia,-13,33.4425,129.96972
13579,9ae16231f19a052dfbd74e5169fc2524,2022-06-27,2022-07-20,Pamela Craig,Natalie Jordan,Arles,FR,Paris,43.67681,4.63031,False,False,True,sad,europe,-23,33.4425,129.96972
13580,7e79648103b5c0bf398a990f19bd16f1,2022-06-28,2022-08-04,Diamond Thompson,Michael Bailey,Palestine,US,Chicago,31.76212,-95.63079,False,True,True,injured,america,-37,33.4425,129.96972
13581,368130b8b35122d03ec1622776cbf0bf,2022-06-29,2022-08-19,Douglas Garcia,Jessica Rogers,Dharmapuri,IN,Kolkata,12.12770,78.15794,False,True,True,injured,asia,-51,33.4425,129.96972

In [21]:
df1 =  df1.dropna(subset=['prev_latitude', 'prev_longitude']).reset_index(drop=True)

In [25]:
df1 = df1.sort_values('date_witness').reset_index(drop=True)
df1

,sighting_id,date_witness,date_agent,witness,agent,city,country,city_agent,latitude,longitude,has_weapon,has_hat,has_jacket,behavior,region,time_delay,prev_latitude,prev_longitude
0,3a50777bfbf7832b027e2ca15cba5237,1985-04-26,1985-05-26,Amy Miller,Jeffery Carter,Brunswick,US,New York,43.91452,-69.96533,True,True,True,lonely,america,-30,28.90054,-81.26367
1,5e3f8f05210918a4393946711d951cde,1985-04-27,1985-05-20,Perry Mcclain,Andrea Watkins,Skalica,SK,Bratislava,48.84490,17.22635,False,True,True,tense,europe,-23,28.90054,-81.26367
2,dcf585eb028794d039748db171d73e52,1985-04-28,1985-06-17,Diana Butler,Kimberly Woods,Hutto,US,Chicago,30.54270,-97.54667,False,False,True,over-complimenting,america,-50,28.90054,-81.26367
3,7183282a80ebb7c1c03ef145b138a309,1985-04-29,1985-05-09,Benjamin Boyer,Jerry Cruz,Kirchlengern,DE,Berlin,52.20000,8.63333,False,True,False,scared,europe,-10,28.90054,-81.26367
4,c7543c3664441df8b12d6613ecf04ae3,1985-04-30,1985-05-16,Sue Luna,Christine Shah,Sambalpur,IN,Kolkata,21.46527,83.97573,False,True,False,fleeing,asia,-16,28.90054,-81.26367
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13574,c9f65f135a32141aa0fe69ec7c319e6f,2022-06-25,2022-08-03,Jodi Coleman,Stephanie Mcmillan,Denderleeuw,BE,Brussels,50.88506,4.07601,True,True,False,paranoid,europe,-39,33.4425,129.96972
13575,9bdac0b8e424b709bee84fee3c1f1844,2022-06-26,2022-07-09,Dennis Wagner,Matthew Young,Huangshi,CN,Shanghai,30.24706,115.04814,False,True,True,hostile,asia,-13,33.4425,129.96972
13576,9ae16231f19a052dfbd74e5169fc2524,2022-06-27,2022-07-20,Pamela Craig,Natalie Jordan,Arles,FR,Paris,43.67681,4.63031,False,False,True,sad,europe,-23,33.4425,129.96972
13577,7e79648103b5c0bf398a990f19bd16f1,2022-06-28,2022-08-04,Diamond Thompson,Michael Bailey,Palestine,US,Chicago,31.76212,-95.63079,False,True,True,injured,america,-37,33.4425,129.96972
13578,368130b8b35122d03ec1622776cbf0bf,2022-06-29,2022-08-19,Douglas Garcia,Jessica Rogers,Dharmapuri,IN,Kolkata,12.12770,78.15794,False,True,True,injured,asia,-51,33.4425,129.96972

In [20]:
# df_merged = df_merged.sort_values(by='date_witness', ascending=False)
df_merged

,sighting_id,date_witness,date_agent,witness,agent,city,country,city_agent,latitude,longitude,has_weapon,has_hat,has_jacket,behavior,region,time_delay,last_agent_date,prev_latitude,prev_longitude
0,3a50777bfbf7832b027e2ca15cba5237,1985-04-26,1985-05-26,Amy Miller,Jeffery Carter,Brunswick,US,New York,43.91452,-69.96533,True,True,True,lonely,america,-30,1985-04-26,28.90054,-81.26367
1,5e3f8f05210918a4393946711d951cde,1985-04-27,1985-05-20,Perry Mcclain,Andrea Watkins,Skalica,SK,Bratislava,48.84490,17.22635,False,True,True,tense,europe,-23,1985-04-26,28.90054,-81.26367
2,dcf585eb028794d039748db171d73e52,1985-04-28,1985-06-17,Diana Butler,Kimberly Woods,Hutto,US,Chicago,30.54270,-97.54667,False,False,True,over-complimenting,america,-50,1985-04-26,28.90054,-81.26367
3,7183282a80ebb7c1c03ef145b138a309,1985-04-29,1985-05-09,Benjamin Boyer,Jerry Cruz,Kirchlengern,DE,Berlin,52.20000,8.63333,False,True,False,scared,europe,-10,1985-04-26,28.90054,-81.26367
4,c7543c3664441df8b12d6613ecf04ae3,1985-04-30,1985-05-16,Sue Luna,Christine Shah,Sambalpur,IN,Kolkata,21.46527,83.97573,False,True,False,fleeing,asia,-16,1985-04-30,27.52948,68.75915
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13574,c9f65f135a32141aa0fe69ec7c319e6f,2022-06-25,2022-08-03,Jodi Coleman,Stephanie Mcmillan,Denderleeuw,BE,Brussels,50.88506,4.07601,True,True,False,paranoid,europe,-39,2022-06-24,-1.60000,103.61667
13575,9bdac0b8e424b709bee84fee3c1f1844,2022-06-26,2022-07-09,Dennis Wagner,Matthew Young,Huangshi,CN,Shanghai,30.24706,115.04814,False,True,True,hostile,asia,-13,2022-06-26,40.98894,28.67582
13576,9ae16231f19a052dfbd74e5169fc2524,2022-06-27,2022-07-20,Pamela Craig,Natalie Jordan,Arles,FR,Paris,43.67681,4.63031,False,False,True,sad,europe,-23,2022-06-27,28.54944,-81.77285
13577,7e79648103b5c0bf398a990f19bd16f1,2022-06-28,2022-08-04,Diamond Thompson,Michael Bailey,Palestine,US,Chicago,31.76212,-95.63079,False,True,True,injured,america,-37,2022-06-27,28.54944,-81.77285
13578,368130b8b35122d03ec1622776cbf0bf,2022-06-29,2022-08-19,Douglas Garcia,Jessica Rogers,Dharmapuri,IN,Kolkata,12.12770,78.15794,False,True,True,injured,asia,-51,2022-06-29,41.48199,-81.79819

In [19]:
# FEEATURE ENGINEERING MORE EFFECIENT
import pandas as pd
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from sklearn.metrics import accuracy_score
import psycopg2

# Connect to database and load data
# PASSWORD = input("Enter your database password: ")
conn = psycopg2.connect(
    host="localhost",
    database="cascade_database",
    user="postgres",
    password= PASSWORD,
    port=5432
)

# Load fact table
df = pd.read_sql("SELECT * FROM carmen_marts.fact_sightings", conn)
# Ensure proper datetime types
df['date_witness'] = pd.to_datetime(df['date_witness'])
df['date_agent'] = pd.to_datetime(df['date_agent'])


# Add time_delay column (in days)
df['time_delay'] = (df['date_witness'] - df['date_agent']).dt.days


# Sort both keys for merge_asof to work properly
df = df.sort_values(['date_witness']).reset_index(drop=True)
df_agents = df[['date_agent', 'latitude', 'longitude']].copy()
df_agents = df_agents.sort_values('date_agent').reset_index(drop=True)

# Use merge_asof to find the last report before each witness event
df_merged = pd.merge_asof(
    df,
    df_agents.rename(columns={
        'date_agent': 'last_agent_date',
        'latitude': 'prev_latitude',
        'longitude': 'prev_longitude'
    }),
    left_on='date_witness',
    right_on='last_agent_date',
    direction='backward'
)

# Drop rows where no prior agent report was found
df_merged = df_merged.dropna(subset=['prev_latitude', 'prev_longitude'])


df_merged = df_merged.reset_index(drop=True)

c:\Users\hassa\anaconda3\lib\site-packages\pandas\io\sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

In [ ]:
# ml_analysis.py
import pandas as pd
import numpy as np
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from sklearn.metrics import classification_report, accuracy_score
import psycopg2
from sqlalchemy import create_engine
import matplotlipreb.pyplot as plt
import seaborn as sns

def ml_analysis():
    """
    Perform machine learning analysis on Carmen Sandiego sighting data
    """
    try:
        # Connect to PostgreSQL database
        PASSWORD = input("Enter your database password: ")
        
        conn = psycopg2.connect(
            host="localhost",
            database="cascade_database",
            user="postgres",
            password=PASSWORD,
            port=5432
        )
        print("‚úÖ Connected to PostgreSQL database")
        
        # Load data from fact_sightings table
        query = """
        SELECT 
            date_witness,
            date_agent,
            latitude,
            longitude,
            has_weapon,
            has_hat,
            has_jacket,
            behavior,
            region
        FROM carmen_marts.fact_sightings
        WHERE date_witness IS NOT NULL
        """
        
        df = pd.read_sql(query, conn)
        print(f"‚úÖ Loaded {len(df)} sighting records")
        
        # --- Feature Engineering ---
        # Convert date columns
        df['date_witness'] = pd.to_datetime(df['date_witness'])
        df['date_agent'] = pd.to_datetime(df['date_agent'])

        # Sort for merge_asof
        df = df.sort_values('date_witness').reset_index(drop=True)
        df_agents = df[['date_agent', 'latitude', 'longitude']].copy().sort_values('date_agent').reset_index(drop=True)

        # Use merge_asof to get last known report location before each witness date
        df = pd.merge_asof(
            df,
            df_agents.rename(columns={
                'date_agent': 'last_agent_date',
                'latitude': 'prev_latitude',
                'longitude': 'prev_longitude'
            }),
            left_on='date_witness',
            right_on='last_agent_date',
            direction='backward'
        )

        # Drop rows where no previous agent report was found
        df = df.dropna(subset=['prev_latitude', 'prev_longitude'])############################################################

        # Calculate time delay
        df['time_delay'] = (df['date_witness'] - df['date_agent']).dt.days.astype(int)

        # Additional features
        df['month'] = df['date_witness'].dt.month
        df['day_of_week'] = df['date_witness'].dt.dayofweek
        df['season'] = df['month'].apply(lambda x: 
            'Spring' if x in [3,4,5] else
            'Summer' if x in [6,7,8] else
            'Fall' if x in [9,10,11] else 'Winter'
        )
        
        # Encode categorical variables
        le_behavior = LabelEncoder()
        le_region = LabelEncoder()
        le_season = LabelEncoder()
        
        df['behavior_encoded'] = le_behavior.fit_transform(df['behavior'].fillna('unknown'))
        df['region_encoded'] = le_region.fit_transform(df['region'])
        df['season_encoded'] = le_season.fit_transform(df['season'])

        # --- ANALYSIS 1: Predict Carmen's Next Region ---
        print("\nüîç ANALYSIS 1: Predicting Carmen's Next Region")
        features_region = ['month', 'day_of_week', 'latitude', 'longitude', 
                           'has_weapon', 'has_hat', 'has_jacket', 'behavior_encoded']
        
        X_region = df[features_region]
        y_region = df['region_encoded']
        
        X_train, X_test, y_train, y_test = train_test_split(
            X_region, y_region, test_size=0.2, random_state=42
        )
        
        rf_region = RandomForestClassifier(n_estimators=100, random_state=42)
        rf_region.fit(X_train, y_train)
        y_pred = rf_region.predict(X_test)
        
        accuracy = accuracy_score(y_test, y_pred)
        print(f"Region Prediction Accuracy: {accuracy:.3f}")
        
        feature_importance_region = pd.DataFrame({
            'feature': features_region,
            'importance': rf_region.feature_importances_
        }).sort_values('importance', ascending=False)
        
        print("\nFeature Importance for Region Prediction:")
        print(feature_importance_region)

        # --- ANALYSIS 2: Predict Behavior ---
        print("\nüîç ANALYSIS 2: Predicting Carmen's Behavior")
        features_behavior = ['month', 'latitude', 'longitude', 'has_weapon', 
                             'has_hat', 'has_jacket', 'region_encoded']
        
        X_behavior = df[features_behavior]
        y_behavior = df['behavior_encoded']
        
        X_train_b, X_test_b, y_train_b, y_test_b = train_test_split(
            X_behavior, y_behavior, test_size=0.2, random_state=42
        )
        
        rf_behavior = RandomForestClassifier(n_estimators=100, random_state=42)
        rf_behavior.fit(X_train_b, y_train_b)
        y_pred_b = rf_behavior.predict(X_test_b)
        
        accuracy_b = accuracy_score(y_test_b, y_pred_b)
        print(f"Behavior Prediction Accuracy: {accuracy_b:.3f}")

        # --- ANALYSIS 3: Pattern Detection ---
        print("\nüîç ANALYSIS 3: Pattern Detection")
        
        seasonal_patterns = df.groupby(['season', 'region']).agg({
            'has_weapon': 'mean',
            'has_hat': 'mean',
            'has_jacket': 'mean',
            'latitude': 'mean',
            'longitude': 'mean'
        }).round(3)
        
        print("\nSeasonal Patterns by Region:")
        print(seasonal_patterns)
        
        behavior_stats = df.groupby('behavior').agg({
            'has_weapon': 'mean',
            'has_hat': 'mean',
            'has_jacket': 'mean',
            'region': 'count'
        }).round(3).sort_values('region', ascending=False)
        
        print("\nBehavior Statistics:")
        print(behavior_stats.head(10))

        # --- ANALYSIS 4: Predictive Insight ---
        print("\nüîç ANALYSIS 4: Predictive Insights")
        
        next_month = df['month'].mode()[0]
        avg_lat = df['latitude'].mean()
        avg_lng = df['longitude'].mean()
        
        sample_prediction = rf_region.predict([[ 
            next_month, 1, avg_lat, avg_lng, 1, 0, 1, 
            df['behavior_encoded'].mode()[0]
        ]])[0]
        
        predicted_region = le_region.inverse_transform([sample_prediction])[0]
        print(f"\nPredicted next region for average conditions: {predicted_region}")

        high_risk_conditions = df[
            (df['has_weapon'] == True) & 
            (df['has_jacket'] == True) & 
            (df['has_hat'] == False)
        ]
        
        if len(high_risk_conditions) > 0:
            risk_regions = high_risk_conditions['region'].value_counts()
            print(f"\nHigh-risk profile (Armed + Jacket + No Hat) most common in:")
            print(risk_regions.head(3))

        # --- ANALYSIS 5: Law Enforcement Recommendations ---
        print("\nüö® LAW ENFORCEMENT RECOMMENDATIONS:")
        
        top_regions = df['region'].value_counts().head(3)
        print(f"\n1. Focus surveillance on top 3 regions:")
        for region, count in top_regions.items():
            print(f"   - {region}: {count} sightings")
        
        seasonal_freq = df.groupby('season')['region'].count()
        peak_season = seasonal_freq.idxmax()
        print(f"\n2. Increase patrols during {peak_season} season")
        
        dangerous_behaviors = df[df['has_weapon'] == True]['behavior'].value_counts().head(3)
        print(f"\n3. Most dangerous behaviors when armed:")
        for behavior, count in dangerous_behaviors.items():
            print(f"   - {behavior}: {count} incidents")

        print("\n‚úÖ Machine Learning Analysis Complete!")

    except Exception as e:
        print(f"‚ùå Error in ML analysis: {str(e)}")
        print("Make sure your dbt models have been run and the database is accessible")

if __name__ == "__main__":
    ml_analysis()

‚úÖ Connected to PostgreSQL database
‚úÖ Loaded 13582 sighting records

üîç ANALYSIS 1: Predicting Carmen's Next Region

c:\Users\hassa\anaconda3\lib\site-packages\pandas\io\sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

Region Prediction Accuracy: 0.994

Feature Importance for Region Prediction:
            feature  importance
3         longitude    0.651064
2          latitude    0.306172
7  behavior_encoded    0.015473
0             month    0.012415
1       day_of_week    0.008738
5           has_hat    0.002691
4        has_weapon    0.001945
6        has_jacket    0.001500

üîç ANALYSIS 2: Predicting Carmen's Behavior
Behavior Prediction Accuracy: 0.042

üîç ANALYSIS 3: Pattern Detection

Seasonal Patterns by Region:
                  has_weapon  has_hat  has_jacket  latitude  longitude
season region
Fall   africa          0.110    0.649       0.922     9.291     15.175
       america         0.106    0.590       0.927    22.035    -82.071
       asia            0.108    0.643       0.924    26.418     97.224
       atlantic        0.125    0.750       0.875    32.753    -20.626
       australia       0.171    0.537       0.976   -33.221    145.415
       europe          0.117    0.613       0.907    48.856     13.598
       indian          0.053    0.789       0.947   -20.175     46.916
       pacific         0.143    0.619       0.952   -19.298     78.664
Spring africa          0.112    0.650       0.918     8.009     17.162
       america         0.099    0.621       0.919    21.645    -81.702
       asia            0.124    0.634       0.938    25.550     95.808
       atlantic        0.091    0.636       0.818    35.931    -23.834
       australia       0.116    0.605       0.907   -33.307    143.280
       europe          0.102    0.633       0.927    48.576     12.883
       indian          0.045    0.545       0.955   -20.563     48.127
       pacific         0.278    0.556       0.889   -12.638     76.561
Summer africa          0.136    0.588       0.920    10.645     15.853
       america         0.124    0.641       0.908    22.580    -81.925
       asia            0.112    0.629       0.925    26.297     95.880
       atlantic        0.000    0.600       1.000    29.758    -17.602
       australia       0.229    0.714       0.914   -32.979    144.465
       europe          0.117    0.632       0.918    48.513     13.388
       indian          0.083    0.833       1.000   -20.785     46.499
       pacific         0.083    0.583       1.000   -18.487    135.325
Winter africa          0.128    0.619       0.934     7.674     15.725
       america         0.116    0.640       0.940    22.232    -81.219
       asia            0.113    0.619       0.935    26.116     94.727
       atlantic        0.250    1.000       0.750    32.753    -20.626
       australia       0.043    0.609       0.935   -32.914    145.859
       europe          0.120    0.637       0.928    48.609     12.876
       indian          0.130    0.522       0.957   -20.665     49.636
       pacific         0.000    0.800       1.000    -7.052     56.722

Behavior Statistics:
                    has_weapon  has_hat  has_jacket  region
behavior
out-of-control           0.111    0.597       0.920     637
complaining              0.108    0.634       0.936     636
happy                    0.088    0.638       0.893     635
tense                    0.119    0.627       0.923     614
insulting                0.113    0.639       0.918     613
panicking                0.110    0.640       0.942     608
confessing               0.114    0.616       0.931     597
unhappy                  0.106    0.636       0.926     596
fleeing                  0.131    0.638       0.921     596
over-complimenting       0.121    0.599       0.928     596

üîç ANALYSIS 4: Predictive Insights

Predicted next region for average conditions: africa

High-risk profile (Armed + Jacket + No Hat) most common in:
america    166
europe     160
asia       147
Name: region, dtype: int64

üö® LAW ENFORCEMENT RECOMMENDATIONS:

1. Focus surveillance on top 3 regions:
   - europe: 4198 sightings
   - america: 4020 sightings
   - asia: 3834 sightings

2. Increase patrols during Spring season

3. Most dangerous behaviors when armed:
   - paranoid: 82 incidents
   - fleeing: 78 incidents
   - hostile: 78 incidents

‚úÖ Machine Learning Analysis Complete!

c:\Users\hassa\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but RandomForestClassifier was fitted with feature names
  warnings.warn(

# Machine Learning 2

In [5]:
PASSWORD = input("Enter your database password: ")

In [6]:
# ml2_analysis.py
# Machine Learning Bonus:
# Create a predictive model to forecast Carmen's next appearance:
import pandas as pd
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from sklearn.metrics import accuracy_score
import psycopg2

# Connect to database and load data
# PASSWORD = input("Enter your database password: ")
conn = psycopg2.connect(
    host="localhost",
    database="cascade_database",
    user="postgres",
    password= PASSWORD,
    port=5432
)

# Load fact table
df = pd.read_sql("SELECT * FROM carmen_marts.fact_sightings", conn)

c:\Users\hassa\anaconda3\lib\site-packages\pandas\io\sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

In [ ]:
# ml2_analysis.py
# Machine Learning Bonus:
# Create a predictive model to forecast Carmen's next appearance:
import pandas as pd
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from sklearn.metrics import accuracy_score
import psycopg2

# Connect to database and load data
# PASSWORD = input("Enter your database password: ")
conn = psycopg2.connect(
    host="localhost",
    database="cascade_database",
    user="postgres",
    password= PASSWORD,
    port=5432
)

# Load fact table
df = pd.read_sql("SELECT * FROM carmen_marts.fact_sightings", conn)

# Feature engineering
# Ensure date columns are datetime
df['date_witness'] = pd.to_datetime(df['date_witness'])
df['date_agent'] = pd.to_datetime(df['date_agent'])
df['month_witness'] = pd.to_datetime(df['date_witness']).dt.month
df['day_witness'] = pd.to_datetime(df['date_witness']).dt.day
df['year_witness'] = pd.to_datetime(df['date_witness']).dt.year
df['month_agent'] = pd.to_datetime(df['date_agent']).dt.month
df['day_agent'] = pd.to_datetime(df['date_agent']).dt.day
df['year_agent'] = pd.to_datetime(df['date_agent']).dt.year
# Example agent/witness features: name length and first letter ordinal
df['agent_name_length'] = df['agent'].astype(str).apply(len)
df['witness_name_length'] = df['witness'].astype(str).apply(len)

# Encode categorical variables
le_region = LabelEncoder()
le_behavior = LabelEncoder()

df['region_encoded'] = le_region.fit_transform(df['region'])
df['behavior_encoded'] = le_behavior.fit_transform(df['behavior'])

# Features for prediction
features = ['latitude', 'longitude', 'has_weapon', 'has_hat', 'has_jacket']
# Ensure date columns are datetime
df['date_witness'] = pd.to_datetime(df['date_witness'])
df['date_agent'] = pd.to_datetime(df['date_agent'])

# Sort by date_witness ascending (oldest first)
df = df.sort_values(by='date_witness').reset_index(drop=True)

# For each row, find the previous row where date_agent <= current date_witness
# We'll use merge_asof for this purpose
df_prev = df[['date_agent', 'latitude', 'longitude']].copy()
df_prev = df_prev.rename(columns={
    'date_agent': 'prev_date_agent',
    'latitude': 'prev_latitude',
    'longitude': 'prev_longitude'
})

# merge_asof will match each row in df with the last row in df_prev where prev_date_agent <= date_witness
df = pd.merge_asof(
    df,
    df_prev,
    left_on='date_witness',
    right_on='prev_date_agent',
    direction='backward'
)

# Remove rows where there was no previous sighting (prev_latitude is NaN)
df = df.dropna(subset=['prev_latitude', 'prev_longitude'])


df
# # features = ['month_witness', 'day_witness', 'year_witness',
# #             'month_agent', 'day_agent', 'year_agent','agent_name_length', 
# #             'witness_name_length'] + features1
# X = df[features]
# y = df['region_encoded']

# # Train model
# X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)
# rf_model = RandomForestClassifier(n_estimators=100, random_state=42)
# rf_model.fit(X_train, y_train)

# # Evaluate model Accuracy
# y_pred = rf_model.predict(X_test)
# accuracy = accuracy_score(y_test, y_pred)
# print(f"Region Prediction Accuracy: {accuracy:.3f}")

# # Feature importance
# feature_importance = pd.DataFrame({
#     'feature': features,
#     'importance': rf_model.feature_importances_
# }).sort_values('importance', ascending=False)

# print("Feature Importance for Predicting Carmen's Next Region:")
# print(feature_importance)

c:\Users\hassa\anaconda3\lib\site-packages\pandas\io\sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

ValueError: left keys must be sorted

In [18]:

# Sort by year, then month, then day in descending order
df = df.sort_values(by=['year_witness', 'month_witness', 'day_witness'], ascending=[False, False, False])
df

,sighting_id,date_witness,date_agent,witness,agent,city,country,city_agent,latitude,longitude,...,behavior,region,month_witness,day_witness,year_witness,month_agent,day_agent,year_agent,agent_name_length,witness_name_length
6678,368130b8b35122d03ec1622776cbf0bf,2022-06-29,2022-08-19,Douglas Garcia,Jessica Rogers,Dharmapuri,IN,Kolkata,12.12770,78.15794,...,injured,asia,6,29,2022,8,19,2022,14,14
11997,7e79648103b5c0bf398a990f19bd16f1,2022-06-28,2022-08-04,Diamond Thompson,Michael Bailey,Palestine,US,Chicago,31.76212,-95.63079,...,injured,america,6,28,2022,8,4,2022,14,16
2171,9ae16231f19a052dfbd74e5169fc2524,2022-06-27,2022-07-20,Pamela Craig,Natalie Jordan,Arles,FR,Paris,43.67681,4.63031,...,sad,europe,6,27,2022,7,20,2022,14,12
5125,9bdac0b8e424b709bee84fee3c1f1844,2022-06-26,2022-07-09,Dennis Wagner,Matthew Young,Huangshi,CN,Shanghai,30.24706,115.04814,...,hostile,asia,6,26,2022,7,9,2022,13,13
639,c9f65f135a32141aa0fe69ec7c319e6f,2022-06-25,2022-08-03,Jodi Coleman,Stephanie Mcmillan,Denderleeuw,BE,Brussels,50.88506,4.07601,...,paranoid,europe,6,25,2022,8,3,2022,18,12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21,5e3f8f05210918a4393946711d951cde,1985-04-27,1985-05-20,Perry Mcclain,Andrea Watkins,Skalica,SK,Bratislava,48.84490,17.22635,...,tense,europe,4,27,1985,5,20,1985,14,13
11667,3a50777bfbf7832b027e2ca15cba5237,1985-04-26,1985-05-26,Amy Miller,Jeffery Carter,Brunswick,US,New York,43.91452,-69.96533,...,lonely,america,4,26,1985,5,26,1985,14,10
678,ec226f095af2263f28384983257deab5,1985-04-25,1985-06-18,Christine Sims,Donald Pierce,Hofheim am Taunus,DE,Berlin,50.09019,8.44930,...,scared,europe,4,25,1985,6,18,1985,13,14
10197,0bf27edf77bf5792514b552a06209347,1985-04-24,1985-04-26,Dana Carpenter,Glen Walker,Deltona,US,New York,28.90054,-81.26367,...,lonely,america,4,24,1985,4,26,1985,11,14
7454,a9614523d5617ee165761c8e3796d468,1985-04-23,1985-04-30,Matthew White,Jesse Boyd,Khairpur Mir‚Äö√Ñ√¥s,PK,Karachi,27.52948,68.75915,...,oblivious,asia,4,23,1985,4,30,1985,10,13

In [25]:
# Ensure date columns are datetime
df['date_witness'] = pd.to_datetime(df['date_witness'])
df['date_agent'] = pd.to_datetime(df['date_agent'])

# Sort by date_witness ascending (oldest first)
df = df.sort_values(by='date_witness').reset_index(drop=True)
df

,sighting_id,date_witness,date_agent,witness,agent,city,country,city_agent,latitude,longitude,...,month_witness,day_witness,year_witness,month_agent,day_agent,year_agent,agent_name_length,witness_name_length,region_encoded,behavior_encoded
0,a9614523d5617ee165761c8e3796d468,1985-04-23,1985-04-30,Matthew White,Jesse Boyd,Khairpur Mir‚Äö√Ñ√¥s,PK,Karachi,27.52948,68.75915,...,4,23,1985,4,30,1985,10,13,2,11
1,0bf27edf77bf5792514b552a06209347,1985-04-24,1985-04-26,Dana Carpenter,Glen Walker,Deltona,US,New York,28.90054,-81.26367,...,4,24,1985,4,26,1985,11,14,1,10
2,ec226f095af2263f28384983257deab5,1985-04-25,1985-06-18,Christine Sims,Donald Pierce,Hofheim am Taunus,DE,Berlin,50.09019,8.44930,...,4,25,1985,6,18,1985,13,14,5,17
3,3a50777bfbf7832b027e2ca15cba5237,1985-04-26,1985-05-26,Amy Miller,Jeffery Carter,Brunswick,US,New York,43.91452,-69.96533,...,4,26,1985,5,26,1985,14,10,1,10
4,5e3f8f05210918a4393946711d951cde,1985-04-27,1985-05-20,Perry Mcclain,Andrea Watkins,Skalica,SK,Bratislava,48.84490,17.22635,...,4,27,1985,5,20,1985,14,13,5,20
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13577,c9f65f135a32141aa0fe69ec7c319e6f,2022-06-25,2022-08-03,Jodi Coleman,Stephanie Mcmillan,Denderleeuw,BE,Brussels,50.88506,4.07601,...,6,25,2022,8,3,2022,18,12,5,15
13578,9bdac0b8e424b709bee84fee3c1f1844,2022-06-26,2022-07-09,Dennis Wagner,Matthew Young,Huangshi,CN,Shanghai,30.24706,115.04814,...,6,26,2022,7,9,2022,13,13,2,7
13579,9ae16231f19a052dfbd74e5169fc2524,2022-06-27,2022-07-20,Pamela Craig,Natalie Jordan,Arles,FR,Paris,43.67681,4.63031,...,6,27,2022,7,20,2022,14,12,5,16
13580,7e79648103b5c0bf398a990f19bd16f1,2022-06-28,2022-08-04,Diamond Thompson,Michael Bailey,Palestine,US,Chicago,31.76212,-95.63079,...,6,28,2022,8,4,2022,14,16,1,8
13581,368130b8b35122d03ec1622776cbf0bf,2022-06-29,2022-08-19,Douglas Garcia,Jessica Rogers,Dharmapuri,IN,Kolkata,12.12770,78.15794,...,6,29,2022,8,19,2022,14,14,2,8

In [ ]:

df['date_witness'] = pd.to_datetime(df['date_witness'])
df['date_agent'] = pd.to_datetime(df['date_agent'])

# Sort by date_witness ascending (oldest first)
df = df.sort_values(by='date_witness').reset_index(drop=True)

# For each row, find the previous row where date_agent <= current date_witness
# We'll use merge_asof for this purpose
df_prev = df[['date_agent', 'latitude', 'longitude']].copy()
df_prev = df_prev.rename(columns={
    'date_agent': 'prev_date_agent',
    'latitude': 'prev_latitude',
    'longitude': 'prev_longitude'
})

# merge_asof will match each row in df with the last row in df_prev where prev_date_agent <= date_witness
df = pd.merge_asof(
    df,
    df_prev,
    left_on='date_witness',
    right_on='prev_date_agent',
    direction='backward'
)

# Remove rows where there was no previous sighting (prev_latitude is NaN)
df = df.dropna(subset=['prev_latitude', 'prev_longitude'])

# -------------------------

In [1]:
df

NameError: name 'df' is not defined